<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="shortcut icon" href="https://s3-media2.fl.yelpcdn.com/assets/2/www/img/118ff475a341/ico/favicon.ico">
  <link rel="alternate" media="only screen and (max-width: 640px)" href="https://m.yelp.com/login" />
  <link rel="stylesheet" type="text/css" media="all" href="../stylesheets/www-pkg.css">
  <link rel="stylesheet" type="text/css" media="all" href="../stylesheets/gateway.css">
</head>
<body>
  <div>
    <div class="app-header simple-header">
      <div class="header-container clearfix">
        <h1 class="logo">
          <a href="/">Yelp</a>
        </h1>
      </div>
    </div>
  </div>
  

  <form action="/category/Add" class="yform signup-form  city-hidden" method="POST">

    <div style="margin-left: 50px; margin-top: 50px;">
      <label>Category Name:</label>
      <input id="category" style="width: 500px;" name="category" placeholder="New Category Name" required="required" type="text">

      <button id="add-button" type="submit" style="margin-left: 373px;" value="Add Category" class="ybtn ybtn-primary ytype disable-on-submit submit signup-button"><span>Add Category</span></button>
    </div>
  </form>
</body>
</html>